.wrapper {
  box-sizing: border-box;
  border-width: 40px;
  border-style: solid;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.red {
  border-color: #e74c3c;
}

.blue {
  border-color: #3498db;
}

.yellow {
  border-color: #f1c40f;
}

.purple {
  border-color: #9b59b6;
}

.green {
  border-color: #2ecc71;
}

.orange {
  border-color: #e67e22;
}

.pink {
  border-color: #ff69b4;
}

.gray {
  border-color: #95a5a6;
}

.cyan {
  border-color: #1abc9c;
}
