.wrapper {
  box-sizing: border-box;
  border: 40px solid red;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.red {
  border: 40px solid #ff5733;
}

.blue {
  border: 40px solid #3357ff;
}
.purple {
  border: 40px solid #8e44ad;
}
.yellow {
  border: 40px solid #f1c40f;
}
